h1 {
  color: rgb(238, 132, 224);
  text-align: center;
  font-weight: 700;
  font-size: 4em;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

li {
  text-align: center;
  list-style: none;
}

.best { 
  color: pink;
}

.fancy { 
  color: blue;
}

.greeny { 
  color: green;
}

.highlight {
  color: red;
  font-style: italic;
}

img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.float {
  float: left;
  border: 3px;
  padding: 500px;
}

.right {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}