h1 {
  color: rgb(238, 132, 224);
  text-align: center;
  font-weight: 700;
  font-size: 4em;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

li {
  text-align: center;
}

.best { 
  color: pink;
}

.fancy { 
  color: blue;
}

i {
  color: red;
}

img {
  height: 25%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
